body {
  margin: 0;
  font-family: fantasy;
  background-image: linear-gradient(120deg, #fdfbfb , #00a3f5 );
    background-color: rgb(34, 0, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
